* {
  color: black;
}
.site {
  background-color: #B3CFFF;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto 1fr 3fr;
  grid-template-areas:
    "title title"
    "main header"
    "main sidebar"
}

.masthead {
  background-color: #369C91;
  grid-area: header;
}

.page-title {
  background-color: #78D5CC;
  grid-area: title;
}

.main-content {
  background-color: #4B6AB2;
  grid-area: main;
}

.sidebar {
  background-color: #1F4B99;
  grid-area: sidebar;
}

.footer {
  background-color: #97F3EB;
  grid-area: footer;
}

@media screen and (min-width: 34em) {
  .site {
    grid-template-column: 2fr 1fr 1fr;
    grid-template-areas:
    "title title title"
    "main header header"
    "main sidebar footer"
  }
}
