<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <% if Trestle.config.turbolinks %>
      <meta name='turbolinks-cache-control' content='no-cache'>
      <meta name="turbolinks-root" content="<%= Trestle.config.path %>">
    <% end %>

    <%= csrf_meta_tags %>

    <title><%= [yield(:title), Trestle.config.site_title].join(' :: ') %> by e-codices</title>

    <%= stylesheet_link_tag "trestle/admin", 'data-turbolinks-track': 'reload' %>

    <%= hook :stylesheets %>

    <%= javascript_include_tag "turbolinks" if Trestle.config.turbolinks %>
    <%= javascript_include_tag "trestle/admin", 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      <% Trestle.config.javascript_i18n_keys.each do |key| %>
        Trestle.i18n['<%= key %>'] = "<%= escape_javascript(t(key, default: t(key, locale: :en))) %>";
      <% end %>

      if (Flatpickr.l10ns['<%= I18n.locale %>']) {
        Flatpickr.localize(Flatpickr.l10ns['<%= I18n.locale %>']);
      }
    </script>

    <%= hook :javascripts %>

    <%= content_for(:head) %>

    <%= hook :head %>
  </head>

  <body>
    <div class="app-wrapper">
      <%= render "trestle/shared/sidebar" %>

      <div class="app-container">
        <%= render "trestle/shared/header" %>

        <main class="app-main">
          <%= yield %>
        </main>

        <%= render "trestle/shared/footer" %>
      </div>
    </div>
  </body>
</html>
