<p class="landing-page">
  <%= image_tag('preview') %>
</p>
<p class="landing-page">
  Tilia is a custom built web based tool for e-codices, used to track which manuscripts are currently digitized, have been digitized already, where they are stored, which hard disks are in use, which manuscripts are scheduled for the next updates, etc.
</p>
<!--

<p>
  The manuscript database contains the following categories / main links:
  Update ⇐ Which manuscripts are scheduled for the next update
  Statistik ⇐ Which manuscripts are digitized for which sub-project
  Repro ⇐ Track missing and wrongly numbered pages
  Archivierung ⇐ Which manuscript is archived on which disk
  Beschreibungen ⇐ What is the standard (and optionally: additional) description of each manuscript
  Festplatten ⇐ What hard disks are in use (brand, size) and which manuscripts do they contain (list of content)?
  Arbeitsstunden ⇐ Time tracking for photographers
  Beschreibungen (geplant) ⇐ Tracking standard (and optionally: additional) descriptions for manuscripts not yet digitized

</p>

-->
