@import 'variables';

body {
  background-color: $color-body-bg;
  margin: 0;
}

h1,
li,
p,
.main-content,
.footer {
  color: $color-main-text;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

.site {
  display: grid;
  grid-template-areas:
  "header header header"
  "wrapper wrapper wrapper"
  "footer footer footer";
  grid-template-column: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content auto min-content;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.main-content {
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  background: $color-footer-bg;
  grid-area: footer;
  grid-row-end: 4;
  margin-top: 2rem;
  padding: 2rem;

  p {
    color: $color-footer-text;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $color-footer-link-hover;
    }
  }
}

.landing-page {
  // background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
  padding: 2rem 5rem;
  text-align: center;
  max-width: 960px;
  width: 70vw;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  img{
    width: 300px;
  }
}

.hero-text {
  margin-top: 2rem;
  width: 100%;
  height: 128px;
  border-radius: 100px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: 0 30px 40px 0 rgba(16,36,94,0.2), inset 0 -10px 0 0 rgba(103,117,161,0.06);
  font-size: 50px;
  outline: none;
  line-height: 122px;
}

.bg-stripes {
  background-image: url('bg-stripes.png');
  background-repeat: no-repeat;
  background-position: left 75px;
}

.wrapper {
  grid-area: wrapper;
}

.header .links {
  float: right;
  padding: 0;
  height: 60px;
  list-style-type: none;
  padding: 0;

  li {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-right: 8px;
    padding: 4px 6px;
  }

  a {
    color: $color-main-link;
    text-decoration: none;
    &.sign-up {
      border: none;
      border-radius: 20px;
      box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
      background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
      color: white;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      line-height: 28px;
      padding: 2px 30px;
      text-shadow: 0 0 0;
      white-space: nowrap;
    }
  }
}

