<!DOCTYPE html>
<html>
  <head>
    <title>Tilia</title>
    <%= csrf_meta_tags %>
    <%# = favicon_link_tag 'favicon.ico' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-stripes">
    <div class="site">

      <header class="header">
        <ul class="links">
          <li class="">
            <a rel="noopener" data-no-turbolink="true" href="mailto:maria.widmer@unifr.ch?Subject=Tilia - Request Access">Request Access</a>
          </li>
          <li class=""> or </li>
          <li class="">
            <a class="sign-up" rel="noopener" data-no-turbolink="true" href="">Login</a>
          </li>
        </ul>
      </header>

      <main class="wrapper">
        <div class="main-content">
          <%= yield %>
        </div>
      </main>

      <footer class="footer">
        <p>
          e-codices <br />
          Rue de l'Hôpital 4 <br />
          CH-1700 Fribourg <br />
        </p>
        <p>
          Tilia - maintained by <a href="mailto:joonki.choi@unifr.ch?Subject=Tilia" target="_top">Joon Ki Choi</a>
          & <a href="mailto:maria.widmer@unifr.ch?Subject=Tilia" target="_top">Maria Widmer</a>
        </p>
      </footer>

    </div> <!-- .site -->
  </body>
</html>
